<!-- About Section -->
<section id="about" class="about section">
    <div class="my-container">
        <div class="container">

            <div class="row gy-4 gx-5">

                <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
                    <img src="assets/img/gallery/gallery-1.jpg" style="height: 300px;" class="img-fluid" alt="">
                    <img src="assets/img/gallery/gallery-2.jpg" style="height: 300px;" class="img-fluid" alt="">
                    <img src="assets/img/gallery/gallery-3.jpg" style="height: 300px;" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <h3>About Us</h3>
                    <p>
                        At Medilab Hospital, we are committed to delivering high-quality healthcare through expert
                        medical services, compassionate care, and cutting-edge technology. Our multi-specialty hospital
                        houses a team of skilled doctors, nurses, and support staff who work together to ensure the best
                        outcomes for every patient. Whether it’s routine check-ups, complex surgeries, or specialized
                        treatments, we provide personalized attention and comprehensive care across all departments
                        including Cardiology, Neurology, Pediatrics, ENT, Hepatology, Eye Care, and Physiotherapy
                    </p>
                    <p>Our state-of-the-art infrastructure, modern diagnostics, and patient-focused approach make us one
                        of the most trusted names in healthcare. We believe in transparency, integrity, and continuous
                        improvement in medical excellence. At Medilab, your health is our top priority, and we strive to
                        create a safe, healing environment where patients feel confident and cared for</p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-vial-circle-check"></i>
                            <div>
                                <h5>🩺 Expert Medical Team</h5>
                                <p> Our hospital boasts a team of highly qualified and experienced doctors across
                                    various specialties. Each expert is dedicated to accurate diagnosis and effective
                                    treatment using the latest medical guidelines, ensuring your recovery is in the best
                                    hands</p>
                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-pump-medical"></i>
                            <div>
                                <h5>🏥 Advanced Infrastructure</h5>
                                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna
                                    pasata rediMedilab is equipped with modern medical technology, advanced surgical
                                    units, and diagnostic labs. Our hospital environment ensures safety, hygiene, and
                                    comfort, helping patients recover in a calm and professional setting</p>
                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart"></i>
                            <div>
                                <h5>🤝 Patient-Centered Care</h5>
                                <p>We value every patient and tailor treatments according to individual needs. From
                                    consultation to recovery, we focus on compassionate communication, comfort, and
                                    continuous support to make every experience reassuring and positive</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</section><!-- /About Section -->

<!-- Stats Section -->
<section id="stats" class="stats section light-background">
    <div class="my-container">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                    <i class="fa-solid fa-user-doctor"></i>
                    <div class="stats-item">
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Doctors</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                    <i class="fa-regular fa-hospital"></i>
                    <div class="stats-item">
                        <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Departments</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                    <i class="fas fa-flask"></i>
                    <div class="stats-item">
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Research Labs</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                    <i class="fas fa-award"></i>
                    <div class="stats-item">
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Awards</p>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>
    </div>

</section><!-- /Stats Section -->