{{>header}}

{{>navbar}}
<!-- Hero Section -->
<section id="hero" class="hero section light-background">

    <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
            <h2>WELCOME TO MEDILAB</h2>
            <p>We are a team of dedicated medical professionals and specialists, delivering quality healthcare services
                through modern facilities and compassionate care—empowered by technology and trust</p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
                    <h3>Why Choose Medilab?</h3>
                    <p>
                        At Medilab, we combine expert doctors, modern technology, and compassionate care to deliver
                        personalized treatments across multiple specialties. Our patient-first approach, advanced
                        diagnostics, and dedicated support ensure high-quality, affordable healthcare you can
                        trust—making Medilab the preferred choice for complete medical care and long-term wellness.
                    </p>
                    <div class="text-center">
                        <a href="/about" class="more-btn"><span>Learn More</span> <i
                                class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="d-flex flex-column justify-content-center">
                    <div class="row gy-4">

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                                <i class="bi bi-clipboard-data"></i>
                                <h4>Our Services</h4>
                                <p>At Medilab, we provide expert medical care across, multiple specialties including
                                    Cardiology, Neurology, Pediatrics, Physiotherapy, ENT, and Eye Care. Our
                                    skilled doctors ensure advanced treatments with a patient-first approach</p>
                                <a href="/service" class="btn btn-primary">View More</a>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                                <i class="bi bi-gem"></i>
                                <h4>Our Departments</h4>
                                <p>Our departments at Medilab include,Pediatrics,
                                    Physiotherapy, ENT, and Eye Care, offering specialized treatments with advanced
                                    technology and expert doctors patient well-being and recovery</p>
                                <a href="/department" class="btn btn-primary">View More</a>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                                <i class="bi bi-inboxes"></i>
                                <h4>Our Doctors</h4>
                                <p>Our doctors at Medilab are experienced, compassionate,multiple specialties and
                                    highly qualified
                                    specialists dedicated to
                                    providing personalized care, accurate diagnoses, and effective treatments across a
                                    wide range of medical
                                    departments</p>
                                <a href="/doctor" class="btn btn-primary">View More</a>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>
            </div>
        </div><!-- End  Content-->

    </div>

</section><!-- /Hero Section -->

{{>about}}
{{>service}}
{{>appointment}}
{{>department}}
{{>doctor}}
{{>faq}}
{{>testimonial}}
{{>gallery}}
{{>contact}}


{{>footer}}